* {
    box-sizing: border-box;
  margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

:root {
    --Detail-color: rgb(192, 43, 230);
    --Text-color: white;
}

body{
    background-color:#3B373B ;
}


.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
 padding:25px 120px;  
 background-color:var(--Detail-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.logo {
    font-size: 30px;
    color: var(--Text-color);
    text-decoration: none;
    font-weight: 600;
}

.links a {
    font-size: 20px;
    color: var(--Text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.links a:hover {
    color: #0ef;
}

.About-Me {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#About-Me {
    font-size: 40px;
    color: var(--Text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.picture {
    height:min-content;
    width: 30%;
    margin: 0;
    margin-bottom: 10px;
    float: left;
   
}
.picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
    }
    .img1 {
        object-fit: cover;
    }


.About-Me article {
    width: 50%;
    margin: 0px 10px 10px;
    padding: 25px;
    height: max-content;
    text-align: justify;
}

.bio {
    font-size: 20px;
    line-height: 25px ;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.Work {
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    float: right;
    height: 800px;
    justify-content: space-evenly;
}

.box-one {
    position: relative;
    width: 97%;
    height: 500px;
    border: 5px solid var(--Detail-color);
    border-radius: 20px;
}
.box-one:hover {
    opacity:80%;
}

.box-one img {
    width: 100%;
    height: 100%;
    }
    .img4 {
        object-fit:fill; 
        border-radius: 15px;
    }
.img4-text {
    position: absolute;
    bottom: 0;
    color: var(--Text-color);
    padding: 10px;
    background-color: var(--Detail-color);
    border-radius:0px 10px;
}
    

.box-two {
    position: relative;
    margin-top: -20px;
    width: 48%;
    height: 200px;
    border: 5px solid var(--Detail-color);
    border-radius: 20px;
}
.box-two:hover {
    opacity:80%;
}

.box-two img {
    width: 100%;
    height: 100%;
    }
    .img2 {
        object-fit:fill;
        border-radius: 15px;
    }
    .img2-text {
        position: absolute;
        bottom: 0;
        color: var(--Text-color);
        padding: 10px;
        background-color: var(--Detail-color);
        border-radius:0px 10px;
    }

.box-three {
    position:relative;
    margin-top: -20px;
    width: 48%;
    height: 200px;
    border: 5px solid var(--Detail-color);
    border-radius: 20px;
}
.box-three:hover {
    opacity:70%;
}

.box-three img {
    width: 100%;
    height: 100%;
    }
    .img3 {
        object-fit:fill;
        border-radius: 15px;
    }
    .img3-text {
        position: absolute;
        bottom: 0;
        color: var(--Text-color);
        padding: 10px;
        background-color: var(--Detail-color);
        border-radius:0px 10px;
    }

.contact {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:var(--Detail-color);
    margin-top: 20px;
    padding: 25px;
    height: max-content;
}

.contact a {
    display: inline-block;
    font-size: 25px;
    color: var(--Text-color);
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    transition: .3s;
}
.contact a:hover {
    color: #0ef;
}

#Work {
    display: flex;
    color: var(--Text-color);
    margin-left: 30px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#Contact-me {
    display: flex;
    color: var(--Text-color);
    margin-left: 30px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (width <= 1150px) {
   body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }
}
 
@media screen and (width <= 780px) {
    body {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
    }
 }

 @media screen and (width <= 880px) {
    .links{
        display:flex;
        flex-direction:column ;
    }
 }

 @media screen and (width<= 1030px) {
.contact{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
.contact div {
display: flex;
flex-direction: column;
align-items: flex-start;
}
 }

